STRINGTABLE DISCARDABLE
BEGIN
  1001  "Update SCA"
  
  1501  "No sample selected."
  1502  "Select only one sample."
  1503  "Unable to insert record in SCA Table. Transaction Rollback-ed."
  1504  "Unable to get sample name."
  1505  "Sample <SAMPLE> will be updated in SCA."
END
